---
layout: page
title: Home
---
<div class="main">
    <div class="container" align="center">
	    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <h4>Home</h4><br>
            <p>Welcome to PenNaatak's website!</p><br>
    		<div class="postList">
                {% for post in paginator.posts %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    {% if post.thumbnail %}<img src="/images/{{ post.thumbnail }}" style="width: 100%;"><br>{% endif %}
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                    <h4>
                                      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                    </h4>
                                    <p class="postMeta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}</p>
                                    {{ post.excerpt }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if paginator.total_pages > 1 %}
            <div class="pagination">
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
                {% else %}
                    <span>&laquo; Prev</span>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                        <em>{{ page }}</em>
                    {% elsif page == 1 %}
                        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                    {% else %}
                        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
                {% else %}
                    <span>Next &raquo;</span>
                {% endif %}
            </div>
            {% endif %}
	    </div>
    </div>
</div>

