<div class="footer">
	<div class="container">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4" align="left">
            <a href="http://http://sacfunded.net/">
                <img src="/images/SAC.gif" class="invert_image footer_img">
            </a>
            <a href="http://www.vpul.upenn.edu/pac/">
                <img src="/images/PAC_Badge.png" class="invert_image footer_img">
            </a>
            <a href="https://www.southasia.upenn.edu/">
                <img src="/images/sast.gif" class="footer_img" style="padding-right: 0;">
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4" align="center">
            <a href="mailto:naatak@gmail.com">
                <img src="/images/mailicon.png" class="invert_image footer_img">
            </a>
    		<a href="https://www.facebook.com/pennaatak?fref=ts">
    			<img src="/images/FB-f-Logo__white_29.png" class="footer_img">
    		</a>
    		<a href="https://twitter.com/Pennaatak">
    			<img src="/images/Twitter_logo_white.png" class="footer_img" style="width: 24px; height: auto; padding-right: 0;">
    		</a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4" style="color: white; padding: 8px" align="right">© PenNaatak 2015</div>
	</div>
</div>