<div class="header" id="mainHeader">
	<div class="container" align="center">
        <div id="scrollToHere">
            <h2 class="h2fontmargin">
                <a href="/" style="text-decoration: none; color:white;">
                    Pen<span style="color: red">N</span>aatak
                </a>
            </h2>
        </div>
        <a href="/">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 headerDiv" id="navHome">
                <h4 class="h2font">
                    Home
                </h4>
            </div>
        </a>
        <a href="/upcoming">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 headerDiv" id="navUpcoming">
                <h4 class="h2font">
                    Upcoming Show
                </h4>
            </div>
        </a>
        <a href="/getinvolved">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 headerDiv" id="navGet">
                <h4 class="h2font">
                    Get Involved
                </h4>
            </div>
        </a>
        <a href="/gallery">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 headerDiv" id="navGallery">
                <h4 class="h2font">
                    Gallery
                </h4>
            </div>
        </a>
        <a href="/past">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 headerDiv" id="navPast">
                <h4 class="h2font">
                    Past Productions
                </h4>
            </div>
        </a>
        <a href="/about">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 headerDiv" id="navAbout">
                <h4 class="h2font">
                    About
                </h4>
            </div>
        </a>
	</div> 
</div>