<head>
	<title>PenNaatak Theatre | {{ page.title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:site_name" content="PenNaatak Theatre" />
	<meta property="og:url" content="http://pennaataktheatre.com" />
	<meta property="og:image" content="/images/naatak-logo.jpg" />
	<meta property="fb:app_id" content="799303723469067" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
	<!-- <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"/> -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>