<div class="header">
	<div class="container" align="center">
        <h2 class="h2font">
            <a href="/" style="text-decoration: none; color:white;">
                Pen<span style="color: red">N</span>aatak
            </a>
        </h2>
        <a href="/">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="navHome">
                <h4 class="h2font">
                    Home
                </h4>
            </div>
        </a>
        <a href="/upcoming">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="navUpcoming">
                <h4 class="h2font">
                    Upcoming Show
                </h4>
            </div>
        </a>
        <a href="/past">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="navPast">
                <h4 class="h2font">
                    Past Productions
                </h4>
            </div>
        </a>
        <a href="/about">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="navAbout">
                <h4 class="h2font">
                    About
                </h4>
            </div>
        </a>
	</div> 
</div>