<div id="hideThisBar" hidden>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="black-nav">
			<div class="container" align="center">
				<!-- Brand and toggle get grouped for better mobile display -->

				<a href="/">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 navDiv">
						<h4 class="h2font">Pen<span style="color: red">N</span>aatak</h4>
					</div>
				</a>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="background-color: #222;">
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<a href="/tickets">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 navDiv" id="navUpcoming2">
							<h4 class="h2font">
								Tickets
							</h4>
						</div>
					</a>
					<a href="/getinvolved">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 navDiv" id="navGet2">
							<h4 class="h2font">
								Get Involved
							</h4>
						</div>
					</a>
					<a href="/gallery">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 navDiv" id="navGallery2">
							<h4 class="h2font">
								Gallery
							</h4>
						</div>
					</a>
					<a href="/past">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 navDiv" id="navPast2">
							<h4 class="h2font">
								Past Productions
							</h4>
						</div>
					</a>
					<a href="/about">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 navDiv" id="navAbout2">
							<h4 class="h2font">
								About
							</h4>
						</div>
					</a>
				</div><!-- /.navbar-collapse -->
			</div>
		</div>
	</nav>
</div>