@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v9/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=3.2.1');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}


input, select, textarea
	{ margin:0; }
html
	{ 
		background: #222222; 
		transition : 0.5s;
	}
body, input, select, textarea
	{ font:normal 13px Roboto,arial,sans-serif; color: #FF0000; padding: 50px; }


a
	{ text-decoration:none; color:#999; }
a:hover
	{ color:#427FED; }

h1
	{ margin:-5px 0 5px 0; font-size:24px; font-weight:200; }
h2, h3
	{ margin: 0 0 1px 0; font-size:16px; font-weight:200; }
p
	{ margin:0 0 10px 0; padding:0; }

.fl
	{ float:left; }
.fr
	{ float:right; }
.clr
	{ clear:both; display:block; }

.hc
	{ position:fixed; left:0; top:0; width:100%; background: #1A1A1A; z-index:5; box-shadow: 0px 0px 0px 2px #B2B2B2; }
.nav1
	{ margin:auto; padding: 2px 60px; }
.logo
	{ width:69px; height:32px; display:block; }
.logo:hover
	{ opacity:0.7; }
.hs
	{ padding:8px; position:relative; width:182px; }
.hs .hstxt
	{ width:150px; color:#999; font-weight:bold; background-color: #050505; padding:4px 26px 4px 6px; border: 1px solid #020202; outline:none; line-height:18px;
		border-radius:3px; box-shadow:0 0 2px rgba(0, 0, 0, 0.07) inset; transition:all 0.08s ease-in-out 0s; }
.hs .hstxt:focus
	{ background-color:#FAFAFA; border-color:#AAA; color:#333; }
.hs .hsub
	{ width:0px; height:0px; border:0 none; visibility:hidden; position:absolute; right:0; bottom:0; }
.hs a.hsbtn
	{ position:absolute; right:12px; top:15px; font-size:14px; color:#AAA; width:14px; height:16px; display:block; }
.hs a.hsbtn:hover
	{ color:#999; }

#sres
	{ position:absolute; z-index:100; min-width:184px; display:none; }
.sres
	{ background:#FFF; border-radius:0 0 3px 3px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); }
.sres ul
	{ list-style:none; margin:0; padding:0; }
.sres ul li a
	{ display:block; padding:2px 5px; }
.sres ul li a:hover
	{ background:#52B8EB; color:#FFF; }
.sres ul li:last-child a
	{ border-radius:0 0 3px 3px;  }

.mnu1
	{ list-style:none; margin:0; padding:0; }
.mnu1 > li
	{ float:left; margin:3px 0 3px 0; position:relative; }
.mnu1.fr > li
	{ margin:0 0 0 8px; }
.mnu1 > li > a
	{ display:block; text-align:center; border:1px solid #CCCCCC; color:#5F5F5F; padding:7px 9px 5px 9px; font-size:14px;
		line-height:18px; height:14px;
		border-radius:3px 3px 3px 3px; text-shadow:0 1px #FFFFFF;
		background:linear-gradient(#FFFFFF, #F0F0F0) repeat scroll 0 0 #F7F7F7;
		background:-webkit-linear-gradient(#FFFFFF, #F0F0F0) repeat scroll 0 0 #F7F7F7; }
.mnu1.fr > li > a
	{ padding:7px 8px 5px 8px; }
.mnu1 > li > a > i
	{ display:block; width:14px; height:14px; float:left; }
.mnu1 > li > a > span
	{ display:block; float:left; margin:-3px 0 0 5px; font-size:13px; }
#usrops > a > img
	{ border-radius:3px 0 0 3px; display:block; float:left; margin:-7px 4px -7px -8px; }
.mnu1 > li > a:hover, .mnu1 > li:hover > a
	{ color:#FFFFFF; border:1px solid #920C12;
		background-color:#AB171E; box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.22); text-shadow:0 -1px rgba(0, 0, 0, 0.11);
		background-image:linear-gradient(#E63D44, #C11A22);
		background-image:-webkit-linear-gradient(#E63D44, #C11A22); }
.mnu1 > li > .sub1
	{ display:none; position:absolute; left:-26px; list-style:none; margin:0; padding:14px 0 0 0; z-index:10; }
.mnu1.fr > li > .sub1
	{ left:-6px; }
.mnu1.fr > li:last-child > .sub1
	{ left:-45px; }
.mnu1 > li:hover > .sub1
	{ display:block; }
.mnu1 > li > .sub1 .tri
	{ position:absolute; left:9px; top:1px; width:27px; height:13px; background:url("../img/tri.png"); }
.mnu1.fr > li:last-child > .sub1 .tri
	{ left:48px; }
.mnu1 > li > .sub1 .wrap
	{ background:#FFF; border-radius:3px 3px 3px 3px; box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.44); }
.mnu1 > li > .sub1 .wrap > li > a
	{ display:block; width:75px; color:#8F8F8F; padding:6px 0 5px 9px; box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset; }
.mnu1 > li > .sub1 .wrap > li:first-child a
	{ border-radius:3px 3px 0 0; }
.mnu1 > li > .sub1 .wrap > li:last-child a
	{ border-radius:0 0 3px 3px; }
.mnu1 > li > .sub1 .wrap > li > a:hover
	{ box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 -1px 0 rgba(0, 0, 0, 0.035) inset;
		background:linear-gradient(#F1F1F1, #E8E8E8) repeat scroll 0 0 #ECECEC;
		background:-webkit-linear-gradient(#F1F1F1, #E8E8E8) repeat scroll 0 0 #ECECEC; }

.mnu2
	{ list-style:none; margin:0; padding:0 0 0 20px; }
.mnu2 li
	{ float:left; margin:0 3px; }
.mnu2 li a
	{ display:block; padding: 2px 0px 3px 4px; border-bottom: 2px solid #505050; font-size: 12px; }
.mnu2 li a:hover, .mnu2 li a.active
	{ border-bottom:2px solid #427FED; color:#427FED; }

.utama
	{ width: 731px;
 margin: 20px auto;

 background: #000000;

 box-shadow: 0 1px 10px 0 rgba(110, 244, 255, 0.33);
 }
.box1
	{ background:#FFF; padding:15px; margin:0 0 15px 0; border-radius:3px; box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.33); }
.box1 > p:last-child
	{ margin-bottom:0; }

.box2
	{ border:1px solid #EEE; border-radius:4px; position:relative; padding:10px; margin:0 0 10px 0; }
.box2.mpt
	{ padding-top:30px; }
.box2 .b2hr
	{ position:absolute; top:-1px; right:-1px; color:#FFF; text-transform:uppercase; font-size:12px; font-weight:700;
		padding:3px 7px; background:#52B8EB; border:1px solid #52B8EB; border-radius:0 4px 0 4px; }
.box2 .b2hl
	{ position:absolute; top:-1px; left:-1px; color:#FFF; text-transform:uppercase; font-size:12px; font-weight:700;
		padding:3px 7px; background:#52B8EB; border:1px solid #52B8EB; border-radius:4px 0 4px 0; }
.box2 .b2fr
	{ float:right; margin:-11px -11px 0 5px; color:#FFF; text-transform:uppercase; font-size:12px; font-weight:700;
		padding:3px 7px; background:#52B8EB; border:1px solid #52B8EB; border-radius:0 4px 0 4px; }

.btn
	{ display:inline-block; color:#FFFFFF; font-size:14px; font-weight:400; padding:4px 10px;
		background-color:#AB171E; border-radius:3px;
		background-image:linear-gradient(#E3262E, #AB171E); background-image:-webkit-linear-gradient(#E3262E, #AB171E);
		border-color:#AF151B #9A1015 #820A0F; border-image:none; border-style:solid; border-width:1px;
		box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.34); text-shadow:0 -1px rgba(0, 0, 0, 0.11); }
a.btn:hover, input.btn:hover
	{ color:#FFFFFF; background-color:#AB171E;
	background-image:linear-gradient(#E63D44, #C11A22); background-image:-webkit-linear-gradient(#E63D44, #C11A22);
    border:1px solid #920C12; box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.22); cursor:pointer; }
.btn:active, .btn.active
	{ color:#FFFFFF; border-color:#99161B; background-color:#E22123; box-shadow:0 1px 7px 0 rgba(0, 0, 0, 0.5) inset; text-shadow: 0 1px rgba(0, 0, 0, 0.6);
		background-image:linear-gradient(#BB1618, #E22123);
		background-image:-webkit-linear-gradient(#BB1618, #E22123); }
.btn.blue
	{ background-color:#006DCC; background-repeat:repeat-x;
		background-image:linear-gradient(#0088CC, #0044CC); background-image:-webkit-linear-gradient(#0088CC, #0044CC);
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); }
a.btn.blue:hover, input.btn.blue:hover
	{ background-color:#0044CC; background-position:0 -15px; transition:background-position 0.1s linear 0s;
	background-image:linear-gradient(#0088CC, #0044CC); background-image:-webkit-linear-gradient(#0088CC, #0044CC);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn.med
	{ padding:2px 7px; font-size:12px; }
.btn.dis
	{ background-image:none; color:#BBB; }

.btngrp .btn
	{ border-radius:0; border-left-width:0; }
.btngrp .btn:first-child
	{ border-radius:3px 0 0 3px; border-left-width:1px; }
.btngrp .btn:last-child
	{ border-radius:0 3px 3px 0; }

.infoc
	{ font-size:14px; color:#3A87AD; background:#D9EDF7; border:1px solid #BCE8F1; padding:8px 10px; border-radius:4px;
		text-shadow:0 1px 0 rgba(255, 255, 255, 0.5); box-shadow:0 1px 4px rgba(0, 0, 0, 0.14); margin:0 0 10px 0; }
.msgc
	{ font-size:14px; color:#468847; background:#DFF0D8; border:1px solid #D6E9C6; padding:8px 10px; border-radius:4px;
		text-shadow:0 1px 0 rgba(255, 255, 255, 0.5); box-shadow:0 1px 4px rgba(0, 0, 0, 0.14); margin:0 0 10px 0; }
.errc
	{ font-size:14px; color:#B94A48; background:#F2DEDE; border:1px solid #EED3D7; padding:8px 10px; border-radius:4px;
		text-shadow:0 1px 0 rgba(255, 255, 255, 0.5); box-shadow:0 1px 4px rgba(0, 0, 0, 0.14); margin:0 0 10px 0; }
form .msgc, form .errc
	{ display:none; }
.msgc .altc
	{ color:#444; }
	
.edit .fc
	{ padding:0 0 5px 0; }
.fc2
	{ padding:0 0 10px 0; }
.fn
	{ font-weight:700; padding:0 0 3px 0; }
.txt, textarea, select
	{ width:350px; font-size:14px; color:#221919; background:#FFF; padding:6px 8px; border:1px solid #AD9C9C;
		border-radius:4px; box-shadow:0 1px rgba(34, 25, 25, 0.15) inset, 0 1px #FFFFFF; transition:all 0.08s ease-in-out 0s; }
select
	{ width:368px; }
.wide .txt, .wide textarea
	{ width:480px; }
.wide select
	{ width:498px; }
option.def
	{ color:#999; }
.txt:focus, textarea:focus, select:focus
	{ border-color:#993300; box-shadow:0 1px rgba(34, 25, 25, 0.15) inset, 0 1px rgba(255, 255, 255, 0.8), 0 0 14px rgba(235, 82, 82, 0.35); outline:none; }
.err
	{ color:#CB2027; display:none; }
.note
	{ font-weight:300; color:#999; font-size:11px; }
.loading
	{ display:block; width:16px; height:11px; background:url("../img/loading.gif"); display:none; }
td .loading
	{ margin-left:10px; }

.imgc1
	{ border-radius:3px; box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.33); }

.csubnav
	{ background:linear-gradient(#F3F3F3, #E5E5E5) repeat scroll 0 0 #ECECEC; background:-webkit-linear-gradient(#F3F3F3, #E5E5E5) repeat scroll 0 0 #ECECEC;
		border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.17) rgba(0, 0, 0, 0.2) #D4D4D4;
		border-radius:3px; border-style:solid; border-width:1px; box-shadow:0 1px 4px rgba(0, 0, 0, 0.14); margin:0 0 10px 0; }	
.csubnav > ul
	{ list-style:none; margin:0; padding:0; }
.csubnav > ul > li
	{ float:left; border-right:1px solid #CDCDCD; position:relative; }
.csubnav > ul > li > a
	{ display:block; color:#777777; font-weight:700; font-size:14px; padding:6px 14px; box-shadow:0 0 1px rgba(255, 255, 255, 0.9) inset; text-shadow:0 1px 0 rgba(255, 255, 255, 0.8); }
.csubnav > ul > li:first-child > a
	{ border-radius:3px 0 0 3px; }
.csubnav.fr > ul > li:last-of-type, .csubnav.fl > ul > li:last-of-type
	{ border-right:0 none; }
.csubnav.fr > ul > li:last-of-type > a, .csubnav.fl > ul > li:last-of-type > a
	{ border-radius:0 3px 3px 0; }
.csubnav > ul > li > a:hover, .csubnav > ul > li > a.active, .csubnav > ul > li.active > a, .csubnav > ul > li:hover > a
	{ color:#333333; background:linear-gradient(#FFFFFF, #F4F4F4) repeat scroll 0 0 #F9F9F9; background:-webkit-linear-gradient(#FFFFFF, #F4F4F4) repeat scroll 0 0 #F9F9F9; }

.csubnav > ul > li > .sub1
	{ display:block; position:absolute; list-style:none; margin:0; padding:14px 0 0 0; z-index:10; left:0px; display:none; }
.csubnav > ul > li.active > .sub1
	{ display:block; }
.csubnav > ul > li > .sub1 .tri
	{ position:absolute; left:9px; top:1px; width:27px; height:13px; background:url("../img/tri.png"); }
.csubnav > ul > li > .sub1 .wrap
	{ background:#FFF; border-radius:3px; padding:10px; box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.44); }
.csubnav > ul > li > .sub1 .wrap td > li > a
	{ display:block; color:#8F8F8F; padding:5px 9px 4px 9px; border-radius:3px; box-shadow:0 1px 0 rgba(255, 255, 255, 0.2) inset; }
.csubnav > ul > li > .sub1 .wrap td > li > a:hover
	{ box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 -1px 0 rgba(0, 0, 0, 0.035) inset;
		background:linear-gradient(#F1F1F1, #E8E8E8) repeat scroll 0 0 #ECECEC;
		background:-webkit-linear-gradient(#F1F1F1, #E8E8E8) repeat scroll 0 0 #ECECEC; }

.kotak
	{ margin:-10px -15px; padding:0; list-style:none; }
.kotak li
	{ float:left; margin:10px 15px; display:block; background: #070707; border: 1px solid #222222; border-radius:3px; }
.kotak li > a
	{ display:block; }
.kotak li a img
	{ border-radius:3px 3px 0 0; display:block; padding:10px; opacity:0.9; }
.kotak li a:hover img
	{ opacity:1; }
.kotak li em
	{ display:block; font-style:normal; font-size:11px; line-height:13px; background: #000; border-top: 1px solid #1B1B1B; padding:5px 10px 0 10px; color:#999; position:relative; }
.kotak li em b
	{ position:absolute; top:2px; right:2px; border-radius:5px;
		display:inline-block; color:#FFFFFF; font-size:12px; padding:2px 4px 2px 4px;
		background-color:#006DCC; background-repeat:repeat-x;
		background-image:linear-gradient(#0088CC, #0044CC); background-image:-webkit-linear-gradient(#0088CC, #0044CC);
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); }
.kotak li em b i
	{ font-weight:normal; font-size:14px; }
.kotak li h3, .kotak li h2
	{ 
		display:block; 
		width:192px; 
		font-size:12px; 
		padding: 0 10px 5px 10px; 
		line-height: 20px; 
		height: 15px; 
		overflow:hidden; 
		background: #000;  
	}
.kotak li strong
	{ display:block; width:192px; font-size:12px; padding:5px 10px 5px 10px; background:#FFF; border-top:1px solid #E7E7E7; font-size:13px; }
.kotak li strong a
	{ margin:0 10px 0 0; }
.kotak li a.btn
	{ margin:0 0 5px 10px; }

.tnl2
	{ margin:-10px -15px; padding:0; list-style:none; position:relative; }
.tnl2 li
	{ float:left; margin:10px 15px; display:block; border:1px solid #E7E7E7; border-radius:3px; background:#FFF; }
.tnl2 li > a
	{ display:block; background:#F8F8F8; }
.tnl2 li > a > img
	{ border-radius:3px 3px 0 0; display:block; padding:10px; opacity:0.9; }
.tnl2 li > a:hover > img
	{ opacity:1; }
.tnl2 li em
	{ display:block; position:relative; font-style:normal; font-size:11px; border-top:1px solid #E7E7E7; padding:5px 10px 0 50px; color:#999; position:relative; }
.tnl2 li span
	{ display:block; width:152px; font-size:12px; padding:0 10px 5px 50px; border-radius:0 0 3px 3px; }
.tnl2 li p
	{ display:block; color:#999; font-size:11px; width:192px; margin:0; padding:5px 10px 5px 10px; border-top:1px solid #E7E7E7; margin-top:5px; background:#FFF; border-radius:0 0 3px 3px; }
.tnl2 li em img
	{ position:absolute; left:10px; top:7px; border-radius:3px; }

.tnl3
	{ margin:-8px; padding:0; list-style:none; }
.tnl3 li
	{ float:left; margin:8px; display:block; }
.tnl3 li a
	{ display:block; }
.tnl3 li a img
	{ border-radius:3px; box-shadow:1px 1px 4px #CCCCCC; opacity:0.9; display:block; }
.tnl3 li a:hover img
	{ opacity:1; }
.tnl3 li a span
	{ width:80px; display:block; line-height:14px; font-size:11px; height:14px; overflow:hidden; text-align:center; }

.related
	{ height:18px; overflow:hidden; max-width:890px; margin-right:10px; float:left; }
.related a, .related2 a
	{ margin:0 0 0 7px; }
.related2 a.btn
	{ margin:0 2px 3px 0; }
.related2 a em
	{ display:none; }

.sl1
	{ list-style:none; margin:0; padding:0; }
.sl1 li
	{ padding:7px 0 9px 0; border-bottom:1px dotted #CCC; }
.sl1 li p
	{ font-size:12px; margin:0 0 0 20px; }
.sl1 li .stat
	{ margin:0 0 0 20px; }
.sl1 li .stat span
	{ display:block; float:left; margin:0 20px 0 0; font-size:11px; color:#999; }
.sl1 li .stat .rank
	{ width:90px; }
.sl1 li .stat .wps
	{ width:110px; }
.sl1 li .stat .lang
	{ width:80px; }
.sl1 li .stat .cat
	{ width:200px; }
.sl1 .prog
	{ width:100px; background:#CCC; height:3px; border-radius:3px; margin:3px 0 0 0; }
.sl1 .prog .up
	{ background:#590; height:3px; border-radius:3px 0 0 3px; }
.sl1 > li > .fr > .fr
	{ font-size:11px; margin:3px 0 0 0; }
.sl1 > li > .fr > .fr td
	{ padding:0 2px; }
.sl1 .icon-meh, .sl1 .icon-smile, .sl1 .icon-frown
	{ font-size:15px; color:#999; }
.sl1 .icon-smile
	{ color:#590; }
.sl1 .icon-frown
	{ margin-left:5px; color:#CCC; }

.data1
	{ border-radius:3px; border:1px solid #DDD; }
.data1 th, .data1 td
	{ padding:3px 5px; border-top:1px solid #DDD; border-left:1px solid #DDD; }
.data1 th
	{ text-align:left; }
.data1 tr:first-child th, .data1 tr:first-child td
	{ border-top:0 none; }
.data1 tr :first-child
	{ border-left:0 none; }

.data2 td
	{ padding:2px 4px; }
.data2 td i
	{ font-size:16px; margin-top:3px; display:block; color:#427FED; }

.tabs1
	{ margin:0 0 -1px 20px; padding:0; list-style:none; z-index:1; position:relative; }
.tabs1 li
	{ margin:0 4px 0 4px; float:left; }
.tabs1 li a
	{ display:block; padding:5px 10px 5px 10px; border-radius:4px 4px 0 0; border:1px solid #FFF; background:#FFF; border-bottom:1px solid #EEE; color:#08C; }
.tabs1 li a:hover
	{ background:#EEE; border:1px solid #EEE; color:#005580; }
.tabs1 li.active a
	{ border:1px solid #EEE; border-bottom:1px solid #FFF; color:#555; }
.tabs1 li.active a:hover
	{ background:#FFF; }

.tags1
	{ padding:5px 0 0 0; }
.tags1 a, .tags1 span
	{ margin:0px 8px 0 0; display:block; float:left; }

.out_tn
	{ border:1px solid #E7E7E7; background:#F8F8F8; border-radius:3px; display:block; padding:10px; }
.out_tn img
	{ display:block; opacity:0.9; }
.out_tn:hover img
	{ opacity:1; }

.download
	{ width:107px; height:29px; background:url("../img/download.png"); text-indent:-1000em; display:block; box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.34); }
.download:hover
	{ background:url("../img/download-o.png"); }

.cl1
	{ margin:-10px -15px; padding:0; list-style:none; position:relative; }
.cl1 li
	{ float:left; margin:10px 15px; padding:10px 10px; width:192px; background:#F8F8F8; border:1px solid #E7E7E7; border-radius:3px; word-wrap:break-word; }
.cl1 li p
	{ margin:0; }
.cl1 li em
	{ display:block; float:right; font-style:normal; color:#999; font-size:11px; }
.cl1 li img
	{ display:block; float:left; margin:0 10px 0 0; border-radius:3px; }

.slist1
	{ margin:0; padding:0 0 4px 0; list-style:none; }
.slist1 > li
	{ float:left; margin:0 10px 0 0; position:relative; }
.slist1 > li > a
	{ display:block; }
.slist1 > li > ul
	{ margin:0; padding:14px 0 0 0; list-style:none; display:none; position:absolute; left:-116px; z-index:10; }
.slist1 > li:hover > ul
	{ display:block; }
.slist1 > li > ul .tri
	{ position:absolute; left:119px; top:1px; width:27px; height:13px; background:url("../img/tri.png"); }
.slist1 > li > ul .wrap
	{ background:#FFF; border-radius:3px; box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.44); padding:10px; width:323px; height:135px; }

.paging
	{ padding:20px 0 0 0; }
.paging ul
	{ margin:0; padding:0; list-style:none; }
.paging ul li
	{ float:left; margin:0 5px 0 0; }
.paging ul li a, .paging ul li span
	{ }

.bestwp
	{ display:block;background:#EEE url(../img/bestwp2013.png); height:90px; width:210px; }

.logos td
	{ padding-left:10px; }
.logos a
	{ display:block; padding:5px 5px;
		background:linear-gradient(#F3F3F3, #E5E5E5) repeat scroll 0 0 #ECECEC; background:-webkit-linear-gradient(#F3F3F3, #E5E5E5) repeat scroll 0 0 #ECECEC;
		border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.17) rgba(0, 0, 0, 0.2) #D4D4D4;
		border-radius:3px; border-style:solid; border-width:1px; box-shadow:0 1px 4px rgba(0, 0, 0, 0.14); }
.logos a:hover
	{ background:linear-gradient(#FFFFFF, #F4F4F4) repeat scroll 0 0 #F9F9F9; background:-webkit-linear-gradient(#FFFFFF, #F4F4F4) repeat scroll 0 0 #F9F9F9; }
.index_logos .logos td
	{ padding-left:0; padding-right:10px; }
.index_logos .logos tr td:last-child
	{ padding-right:0; }

.ajopc
	{ background:rgba(0, 0, 0, 0.5); position:absolute; top:0; left:0; width:100%; height:100%; z-index:100; }
.ajopb
	{ background:#FFF; border-radius:3px; box-shadow:0 2px 10px rgba(0, 0, 0, 0.45); border:1px solid #E5E5E5; }
.ajopb .con
	{ padding:15px; background:#FFF; }
.ajopb .title
	{ padding:6px 6px 6px 15px; font-size:16px; text-transform:uppercase; text-align:center; font-weight:500; border-bottom:1px solid #E5E5E5; background-color:#F8F8F8;
		background-image: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#F5F5F5));
		background-image: -webkit-linear-gradient(top,#FFFFFF,#F5F5F5);
		background-image: -moz-linear-gradient(top,#FFFFFF,#F5F5F5);
		background-image: -ms-linear-gradient(top,#FFFFFF,#F5F5F5);
		background-image: -o-linear-gradient(top,#FFFFFF,#F5F5F5);
		background-image: linear-gradient(top,#FFFFFF,#F5F5F5); }
.ajopc .close
	{ height:22px; width:22px; display:block; float:right; outline:none; margin:1px 3px 0 0; font-size:22px; color:#666; }
.ajopc .close:hover
	{ color:#999; }


[class^="icon-"],[class*=" icon-"]{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;*margin-right:.3em;}
[class^="icon-"]:before,[class*=" icon-"]:before{text-decoration:inherit;display:inline-block;speak:none;}
.icon-large:before{vertical-align:-10%;font-size:1.3333333333333333em;}
a [class^="icon-"],a [class*=" icon-"]{display:inline;}
[class^="icon-"].icon-fixed-width,[class*=" icon-"].icon-fixed-width{display:inline-block;width:1.1428571428571428em;text-align:right;padding-right:0.2857142857142857em;}[class^="icon-"].icon-fixed-width.icon-large,[class*=" icon-"].icon-fixed-width.icon-large{width:1.4285714285714286em;}
.icons-ul{margin-left:2.142857142857143em;list-style-type:none;}.icons-ul>li{position:relative;}
.icons-ul .icon-li{position:absolute;left:-2.142857142857143em;width:2.142857142857143em;text-align:center;line-height:inherit;}
[class^="icon-"].hide,[class*=" icon-"].hide{display:none;}
.icon-muted{color:#eeeeee;}
.icon-light{color:#ffffff;}
.icon-dark{color:#333333;}
.icon-border{border:solid 1px #eeeeee;padding:.2em .25em .15em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.icon-2x{font-size:2em;}.icon-2x.icon-border{border-width:2px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.icon-3x{font-size:3em;}.icon-3x.icon-border{border-width:3px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.icon-4x{font-size:4em;}.icon-4x.icon-border{border-width:4px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.icon-5x{font-size:5em;}.icon-5x.icon-border{border-width:5px;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;}
.pull-right{float:right;}
.pull-left{float:left;}
[class^="icon-"].pull-left,[class*=" icon-"].pull-left{margin-right:.3em;}
[class^="icon-"].pull-right,[class*=" icon-"].pull-right{margin-left:.3em;}
[class^="icon-"],[class*=" icon-"]{display:inline;width:auto;height:auto;line-height:normal;vertical-align:baseline;background-image:none;background-position:0% 0%;background-repeat:repeat;margin-top:0;}
.icon-white,.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-inverse .nav>.active>a>[class^="icon-"],.navbar-inverse .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"],.dropdown-submenu:hover>a>[class^="icon-"],.dropdown-submenu:hover>a>[class*=" icon-"]{background-image:none;}
.btn [class^="icon-"].icon-large,.nav [class^="icon-"].icon-large,.btn [class*=" icon-"].icon-large,.nav [class*=" icon-"].icon-large{line-height:.9em;}
.btn [class^="icon-"].icon-spin,.nav [class^="icon-"].icon-spin,.btn [class*=" icon-"].icon-spin,.nav [class*=" icon-"].icon-spin{display:inline-block;}
.nav-tabs [class^="icon-"],.nav-pills [class^="icon-"],.nav-tabs [class*=" icon-"],.nav-pills [class*=" icon-"],.nav-tabs [class^="icon-"].icon-large,.nav-pills [class^="icon-"].icon-large,.nav-tabs [class*=" icon-"].icon-large,.nav-pills [class*=" icon-"].icon-large{line-height:.9em;}
.btn [class^="icon-"].pull-left.icon-2x,.btn [class*=" icon-"].pull-left.icon-2x,.btn [class^="icon-"].pull-right.icon-2x,.btn [class*=" icon-"].pull-right.icon-2x{margin-top:.18em;}
.btn [class^="icon-"].icon-spin.icon-large,.btn [class*=" icon-"].icon-spin.icon-large{line-height:.8em;}
.btn.btn-small [class^="icon-"].pull-left.icon-2x,.btn.btn-small [class*=" icon-"].pull-left.icon-2x,.btn.btn-small [class^="icon-"].pull-right.icon-2x,.btn.btn-small [class*=" icon-"].pull-right.icon-2x{margin-top:.25em;}
.btn.btn-large [class^="icon-"],.btn.btn-large [class*=" icon-"]{margin-top:0;}.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x,.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x{margin-top:.05em;}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x{margin-right:.2em;}
.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x{margin-left:.2em;}
.nav-list [class^="icon-"],.nav-list [class*=" icon-"]{line-height:inherit;}
.icon-download-alt:before{content:"\f019";}
.icon-download:before{content:"\f01a";}
.breadchumb {
	padding: 5px;
	font-size: 11px;
	color: #ccc;
}

.thumb {
    width: 212px;  
    height: 171px;  display: block;  
    margin-top: -171px;  position: relative;  
    margin-left: 0px;  border-radius: 3px;
}

.pagination {
	margin: 10px 0;	
}


.pagination .active a {
	background: #eef;
	color: blue;	
}

.pagination li {
	margin: 0px;
	border: none;
}
.pagination ul > li {
	border: 1px solid #eee;
	border-radius: 0px;
	display: inline;
}
.pagination ul > li > a {
	/*text-align: center;*/
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #ffffff;  
}

.mainimg {	
	width: 100%;
}
.skiri {
	margin: 0px;
	/*width: 250px;
	height: 180px;*/
	clear: both;
	text-align: center;
}

.skanan {
	margin: 20px;
	float: left;
	width: 200px;
	height: 180px;
	/*background: #eee;	*/
}
h1 {
	text-align: center;
}
.sitemap {
	margin: 0px;
	padding: 0px;
}
.asitemap {
	padding-right: 10px;
}

.kotak
	{ position: relative; background: rgba(123, 82, 140, 0); margin:-10px -15px; padding:0; list-style:none; clear: both;}
.kotak p
	{ box-shadow: 0px 0px 4px 1px #55E7E1; color: #00FFC5; margin: 7px 30px; background: #000000; font-family: verdana; font-size: 12px; border-bottom: 1px solid #000; width: 193px; float: left; height: 145px; overflow: hidden; text-align: center;}
.kotak p img {
    padding-right: 20px;
}

.reltag h3, .reltag h4, .reltag h5 {
    float: left;
    padding-bottom: 10px;
    margin: 11px;
    width: 160px;
    height: 28px;
    font-size: 15px;
    font-weight: normal;
    text-shadow: 0px 0px 3px #00FFD8;
}

/*selesai edit woy*/

