---
---

@font-face {
    font-family: jaapokki;
    src: url(../fonts/Jaapokki-font-package-1.0/jaapokki-regular.ttf);
}

html, body {
    height: 100%;
    min-height: 100%;
}

.h2font {
    font-family: jaapokki;
    color: white;
}

.h2fontmargin {
    font-family: jaapokki;
    color: white;
    margin-bottom: 10px !Important;
    margin-top: 20px !Important;
}

.header {
	background-color: black; 
	border-bottom-style: double;
	border-color: white;
	padding-top: 0;
}

.footer {
	width: 100%;
	min-height: 10%;
	background-color: black;
	border-top-style: double;
	border-color: white;
	padding-top: 16px;
	padding-bottom: 8px;
}

.main {
	min-height: 85%; 
	padding-top: 0;
	padding-bottom: 16px;
}

.invert_image {
	-webkit-filter: invert(100%);
    filter: invert(100%);
}

a {
	text-decoration: none;
}

a:hover div {
	background-color: #222;
	/*background: linear-gradient(#333, #222);*/
}

/*a:hover, a:active {
    text-decoration: underline;
    color: #222;
}

a:visited, a:link {
    text-decoration: underline;
    color: #777;
}*/

.footer_img {
	width: 32px; 
	height: auto; 
	padding-right: 8px;
}

.panel {
	border-color: #555 !Important;
	border-radius: 0px !Important;
	border-style: none !Important;
	box-shadow: none !Important;
}

.post {
	text-align: left;
	margin: 0 auto;
}

.postHeader {
	text-align: center;
}

.postImage {
	max-width: 60%;
}

.post img {
	max-width: 80%;
	display: block;
	margin: 0 auto;
}

.postList {
	text-align: left;
	margin: 0 auto;
}

.active {
	background-color: #222;
}

.black-nav {
	background-color: black !Important; 
	border-bottom-style: double !Important;
	border-color: white !Important;
	overflow: hidden;
}

.navbar, .navbar-header {
	min-height: 0 !Important;
	padding-bottom: 0 !Important;
	margin-bottom: 0 !Important;
}

.navDiv {
	height: 100%;
}

.navHeader {
	height: 5%;
}

.cover {
	height: 50%;
	margin-top: 0px; 
	overflow: hidden;
	text-align: center; 
	background-image: url('/images/quad.jpg'); 
	background-repeat: repeat-y;
	background-size: 140%;
	background-attachment: fixed;
	position: relative;
	/*-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
}

div.pagetitle {
	width: 100%;
	background-color: white;
	opacity: 0.8;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	border-top-style: double;
	border-bottom-style: double; 
	border-color: black;
}

.pagetitle h3 {
	opacity: 100;
	font-weight: bold;
    color: #000000;
}