@font-face {
    font-family: jaapokki;
    src: url(../fonts/Jaapokki-font-package-1.0/jaapokki-regular.ttf);
}

.h2font {
    font-family: jaapokki;
    color: white;
}

.header {
	min-height: 15%; 
	background-color: black; 
	border-bottom-style: double;
	padding-top: 8px;
}

.footer {
	min-height: 10%;
	background-color: black;
	padding-top: 16px;
}

.main {
	min-height: 75%; 
	vertical-align: middle;
	padding-top: 16px;
	padding-bottom: 16px;
}

.invert_image {
	-webkit-filter: invert(100%);
    filter: invert(100%);
}

a {
	text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
    color: white;
}

a:visited, a:link{
    text-decoration: none;
    color: white;
}