---
---

@font-face {
    font-family: jaapokki;
    src: url(../fonts/Jaapokki-font-package-1.0/jaapokki-regular.ttf);
}

html, body {
    height: 100%;
    min-height: 100%;
}

.h2font {
    font-family: jaapokki;
    color: white;
}

.header {
	min-height: 15%; 
	background-color: black; 
	border-bottom-style: double;
	border-color: white;
	padding-top: 8px;
}

.footer {
	width: 100%;
	min-height: 10%;
	background-color: black;
	border-top-style: double;
	border-color: white;
	padding-top: 16px;
}

.main {
	min-height: 75%; 
	padding-top: 16px;
	padding-bottom: 16px;
}

.invert_image {
	-webkit-filter: invert(100%);
    filter: invert(100%);
}

a {
	text-decoration: none;
}

a:hover div {
	background-color: #222;
	/*background: linear-gradient(#333, #222);*/
}

/*a:hover, a:active {
    text-decoration: underline;
    color: #222;
}

a:visited, a:link {
    text-decoration: underline;
    color: #777;
}*/

.footer_img {
	width: 32px; 
	height: auto; 
	padding-right: 8px;
}

.panel {
	border-color: #555 !Important;
	border-radius: 0px !Important;
	border-style: none !Important;
	box-shadow: none !Important;
}

.post {
	text-align: left;
	margin: 0 auto;
}

.postHeader {
	text-align: center;
}

.postImage {
	max-width: 60%;
}

.post img {
	max-width: 80%;
	display: block;
	margin: 0 auto;
}

.postList {
	text-align: left;
	margin: 0 auto;
}

.active {
	background-color: #222;
}