<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  	{% include script.html %}
    {% include header.html %}
    {% include navbar.html %}
    <div class="main">
    	<div class="container" align="center">
	    	<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
		    	<div class="post" align="center">
			    	<div class="postHeader">
			    		<h3 class="postTile">{{ page.title }}</h2>
			    		<p class="postMeta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}</p>
			    		<div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-width="160"></div>
			    		<br><br>
			    		{% if page.image %}<img class="postImage" src="{{ page.image }}"><br><br>{% endif %}
			    	</div>
			    	<div class="postBody">
			    		{{ content }}
			    	</div>
			    	<div class="postFooter">
			    		<br><br>
			    		<div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
			    	</div>
			    </div>
			</div>
		</div>
    </div>
    {% include footer.html %}
  </body>
</html>
